In [2]:
print 'Hello World'
print 53

Hello World
53

# Getting started with python
## Newbs abound

In [3]:
*Started iPython NB

SyntaxError: invalid syntax (<ipython-input-3-78230cec2790>, line 1)

* What we did was a number of things

In [4]:
i = 5
type(i)

int

In [5]:
i = 4.0004
type(i)

float

bool(1)

bool(-1)

## Test
## Hello

# Extra Value to the session...

* one
* two 
* three

In [20]:
d1 = {'foo':43,'bar':2.5}

In [21]:
d1.values()

[43, 2.5]

In [22]:
def foo(x):
    return x**2

In [23]:
y1 = foo(5)

In [24]:
print y1

25

In [27]:
square = lambda x: x ** 2

In [28]:
square(5)

25

# GraphLab O'Clock

In [ ]:
import graphlab as gl

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [10]:
gl.product_key.set_product_key('B6B8-4812-53F1-8F29-26F6-2A42-F48C-488D')

In [11]:
gl.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS',4)

This non-commercial license of GraphLab Create for academic use is assigned to csmcpherson@gmail.com and will expire on March 31, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Admin\AppData\Local\Temp\graphlab_server_1522581912.log.0

In [12]:
gl.product_key.get_product_key()

'B6B8-4812-53F1-8F29-26F6-2A42-F48C-488D'

In [1]:
import os

In [26]:
for root, dirs, files in os.walk('.',topdown=True):
    for d in dirs:
        for f in files:
            print os.path.join(root, d, f)

.\.ipynb_checkpoints\Getting started with iPython Notebook.ipynb
.\.ipynb_checkpoints\Getting Started with SFrames.ipynb
.\.ipynb_checkpoints\iPython_Demo.ipynb
.\.ipynb_checkpoints\people-example.csv

In [34]:
gl.get_dependencies()

By running this function, you agree to the following licenses.

* libstdc++: https://gcc.gnu.org/onlinedocs/libstdc++/manual/license.html
* xz: http://git.tukaani.org/?p=xz.git;a=blob;f=COPYING

Downloading xz.
Extracting xz.
Downloading gcc-libs.
Extracting gcc-libs.
Copying gcc-libs into the installation directory.

In [59]:
sf = gl.SFrame('people-example.csv')

Finished parsing file C:\Users\Admin\Documents\GitHub\UoW\Uow_MLF\Week 1\people-example.csv

Parsing completed. Parsed 7 lines in 0.013001 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\Admin\Documents\GitHub\UoW\Uow_MLF\Week 1\people-example.csv

Parsing completed. Parsed 7 lines in 0.032002 secs.

# Sframe basics

In [17]:
sf # headers

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf.tail(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [19]:
sf.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [21]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:59396/index.html
Opening Canvas in default web browser.

In [23]:
gl.canvas.set_target('ipynb')

In [37]:
sf['age'].show(view='Categorical')

In [47]:
sf['age'].max()

25L

In [43]:
sf['Country'][1]

'Canada'

In [60]:
sf['FullName']=sf['First Name']+chr(32)+sf['Last Name']

In [53]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	FullName	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |    FullName    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [56]:
sf['Country'].show()

In [64]:
sf['Country'] = sf['Country'].apply(lambda x: 'United States' if x == 'USA' else x)

In [65]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	FullName	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |    FullName    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]